body {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {

    font-family: 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    background-color: red;
    color: rgb(255, 255, 255);
}

h2 {
    text-align: right;
    background-color: rgb(67, 114, 215);
    color: lemonchiffon;
}

img {
    height: 250px;
    width: auto;
}

.recipes {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.ingredients-list {
    background-color: lightgrey;
    color: rebeccapurple;
}

